[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
buildbot = {editable = true, path = "./../buildbot/master"}
treq = "*"

[dev-packages]
pylint = "*"
mock = "*"

[requires]
python_version = "3"
